<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/Css/navigation.css" />
    <link rel="stylesheet" href="/public/Css/blog.css">
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <title>Blog</title>
  </head>
  <body>
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/public/images/logo.svg" alt="logo"></a>

        <!-- Toggle -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Toggle End -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial">Testimonial</a>
            </li>
          </ul>
          <a href="contact" class="btn btn-contact rounded-3 px-4 py-2">
            Contact Me
          </a>            
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Content -->
    <section>
      <h1 class="text-center mb-3 fs-2">Add My Project</h1>
      <form action="/blog" method="POST" style="width: 40vw; margin: 0 auto;" enctype="multipart/form-data">
        <div class="mb-3 fw-bolder ">
          <label for="input-projectName" class="form-label">Project Name</label>
          <input type="text" class="form-control" id="input-projectName" name="input-projectName">
        </div>
        <div class="d-flex mb-3 fw-bolder justify-content-between">
          <div class="start-date">
            <label for="input-startDate" class="form-label">Start</label>
            <input type="date" class="form-control" id="input-startDate" name="input-startDate">
          </div>
          <div class="d-flex">
            <div class="end-date">
              <label for="input-endDate" class="form-label">End</label>
              <input type="date" class="form-control" id="input-endDate" name="input-endDate">
            </div>
        </div>
        </div>
        <div class="mb-3 fw-bolder  ">
          <label for="input-description" class="form-label">Description</label>
          <textarea class="form-control" id="input-description" name ="input-description" rows="5" style="resize: none;"></textarea>
        </div>
        <label class="mb-3 fw-bolder ">Technology</label>
        <div class="container-technology d-flex justify-content-between mb-3">
          <div class="technology-left">
            <div class="form-check">
              <label class="form-check-label" for="input-javascript">
                JavaScript
              </label>
              <input class="form-check-input" type="checkbox"  id="input-javascript" name="input-javascript" value = "javascript">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="input-php">
                PHP
              </label>
              <input class="form-check-input" type="checkbox"  id="input-php" name="input-php" value="php">
            </div>
          </div>
          <div class="technology-right">
            <div class="form-check">
              <label class="form-check-label" for="input-java">
                Java
              </label>
              <input class="form-check-input" type="checkbox"  id="input-java" name="input-java" value = "java">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="input-reactJS">
                ReactJS
              </label>
              <input class="form-check-input" type="checkbox"  id="input-reactJS" name="input-reactJS" value = "reactJS">
            </div>
          </div>
        </div>
        <div class="mb-3 fw-bolder">
          <label for="input-image" class="form-label">Upload Image</label>
          <input class="form-control" type="file" id="input-image" name="input-image">
        </div>
        <button type="submit" class="btn btn-primary px-3 d-flex ms-auto">Submit</button>
      </form>
    </section>
    <!-- Content End-->

    <!-- JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
